/* styles.css */
body {
  background-color: #f4f4f4;
}

header {
  background-color: #26a69a;
}

nav {
  background-color: #009688;
}

footer {
  background-color: #009688;
  color: white;
  text-align: center;
  padding: 10px 0;
}

