/* styles.css */

/* Body Styles */
body {
  background-color: black;
  color: white;
}

/* Header Styles */
header {
  background-color: #FAB20B; /* Yellow */
}

/* Main Content Styles */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Button Styles */
.modal-trigger {
  background-color: #FAB20B; /* Yellow */
  color: black;
}

.modal-content {
  color: black;
}
/* Footer Styles */
footer {
  background-color: #FAB20B; /* Yellow */
  color: black;
}

.card-content {
  color: black;
}
