/* styles.css */

/* Body Styles */
body {
  background-color: #f4f4f4;
}

/* Header Styles */
header {
  background-color: #009688; /* Teal */
}

.brand-logo {
  margin-left: 20px;
}

/* Main Content Styles */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Button Styles */
.modal-trigger {
  background-color: #009688; /* Teal */
  color: white;
}

/* Footer Styles */
footer {
  background-color: #009688; /* Teal */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
